<div class="col-sm-6 col-md-4">
    <div class="library-thumbnail">
        <img [src]="game.image" height="200px" width="200px" (click)="onClickImage()">
        <div class="caption">
            <ngb-rating [(rate)]="game.rank"></ngb-rating>
            <span *ngIf="game.plays" class="badge badge-default">{{game.plays.length}}</span>
            <span *ngIf="!game.plays" class="badge badge-default">0</span>
        </div>
    </div>

    <div *ngIf="displayDetails">
        <game-detail [game]="game"></game-detail>
    </div>
</div>