<div>
    <div class="library-thumbnail" *ngIf="!displayDetails">
        <img [src]="game.image" height="200px" width="200px" (click)="onClickImage()">
        <div class="caption">
            <ngb-rating [(rate)]="game.rating" [readonly]="true"></ngb-rating>
            <span *ngIf="game.playsCount" class="badge badge-default">{{game.playsCount}}</span>
            <span *ngIf="!game.playsCount" class="badge badge-default">0</span>
        </div>
    </div>

    <div class="game-details" *ngIf="displayDetails" (click)="onClickImage()">
        <game-detail [game]="game"></game-detail>
    </div>
</div>