<div>
    <md-slide-toggle [(ngModel)]="online">
        Online
    </md-slide-toggle>
    <form *ngIf="online" #bggUserForm="ngForm" (ngSubmit)="reloadStatistics(bggUserForm.value.bggUser, bggUserForm.value.service)">
        <!-- bgg user -->
        <input type="text" id="bggUser" [ngModel]="bggUser" name="bggUser">
        <!-- service selection -->
        <md-select placeholder="Service to use" [(ngModel)]="selectedService" name="service">
            <md-option *ngFor="let service of availableServices" [value]="service.value">
                {{service.viewValue}}
            </md-option>
        </md-select>
        <!-- form validation button -->
        <button type="submit" class="btn btn-success">Reload</button>
    </form>
</div>
<div>
    <div *ngIf="loading">
        <md-spinner></md-spinner>
    </div>
    <div *ngIf="!loading && stats">
        <games-statistics-global [stats]="stats"></games-statistics-global>
        <games-statistics-ranking [stats]="stats"></games-statistics-ranking>
    </div>
</div>